# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @atollena @ctiller @dfawley @ejona86 @glbrntt @JamesNK @ginayeh @zhangkun83 @markdroth @murgatroid99 @nupurkot @gnossen @sergiitk 
